#analysisBarChartHolder {
    width: 100%;
    display: flex;
}

.analysisVerticalHolder {
    position: relative;
    width: 100%;
    
}

.analysisVerticalOuterContainer {
    flex: 10 0 auto;
}

.analysisVerticalHolderBelow {
    word-wrap: break-word;
    font-size: 85%;
    width: 100%;
    text-align: center;
    /* transform: rotate(-90deg);
    border: 1px solid black;
    margin-top: 10%; */
}

.analysisVerticalHolderStat {
    color: white;
    font-size: 95%;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
}

.analysisVerticalHolderStatTop{
    position: absolute;
    text-align: center;
    width: 95%;
    font-size: 100%;
    margin-bottom: 0;
}

#analysisSelectionDiv label {
    font-size: 110%;
}

.analysisVariable {
    font-size: 110%;
}

@media only screen and (orientation: portrait) {
    .analysisVerticalOuterContainer {
        width: 12.5%;
    }

    .analysisVariable {
        font-size: 4vw;
    }

    #analysisSelectionDiv label {
        font-size: 4vw;
    }

    .analysisVerticalHolderBelow {
        font-size: 2.65vw;
    }

    .analysisVerticalHolderStat, .analysisVerticalHolderStatTop {
        font-size: 3.15vw;
    }
}