#analysisBarChartHolder {
    width: 100%;
    display: flex;
}

.analysisVerticalHolder {
    position: relative;
    width: 100%;
}

.analysisVerticalHolder:hover {
    background-color: grey;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px dotted black;
    filter: brightness(1.5);
}

.analysisVerticalOuterContainer {
    flex: 10 0 auto;
}

.analysisVerticalHolderBelow {
    word-wrap: break-word;
    font-size: 85%;
    width: 100%;
    text-align: center;
    /* transform: rotate(-90deg);
    border: 1px solid black;
    margin-top: 10%; */
}

.verticalHolderStat {
    box-sizing: border-box
}

.analysisVerticalHolderStat {
    color: white;
    font-size: 95%;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
}

.analysisVerticalHolderStatTop{
    position: absolute;
    text-align: center;
    width: 95%;
    font-size: 100%;
    margin-bottom: 0;
}

#analysisSelectionDiv label {
    font-size: 110%;
}

.analysisVariable {
    font-size: 110%;
}

#analysisInfoMainStatistic {
    font-size: 225%;
    margin: 0 0 1% 0
}

#analysisInfoMainStatisticUnit {
    font-size: 100%;
    opacity: 0.8;
    margin: 0;
}

#analysisInfoMainStatisticHolder {
    padding: 1% 0 1.25% 2.5%;
    margin-bottom: 2.5%;
}

#analysisInfoMainStatistic b {
    font-size: 110%;
    opacity: 1.0;
}

#analysisInfoMainFlexLeft {
    width: 100%;
}

#summaryAnalysisTable {
    width: 100%;
    border-color: black;
    border-collapse: collapse;
}

#summaryAnalysisTable th, #summaryAnalysisTable td {
    border: 1px solid black;
    width: 14.2857%;
    vertical-align: baseline;
}

#summaryAnalysisTable th {
    font-weight: normal;
    font-size: 120%;
}

.weeklyChartCellDisplay {
    text-align: center;
    font-weight: bold;
    font-size: 145%;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0 0 2% 0;
    box-sizing: border-box;
}

.weeklyChartActivityInfo {
    font-size: 90%;
    word-break: break-word;
}

@media only screen and (orientation: portrait) {
    .analysisVerticalOuterContainer {
        width: 12.5%;
    }

    .analysisVariable {
        font-size: 4vw;
    }

    #analysisSelectionDiv label {
        font-size: 4vw;
    }

    .analysisVerticalHolderBelow {
        font-size: 2.65vw;
    }

    .analysisVerticalHolderStat, .analysisVerticalHolderStatTop {
        font-size: 3.15vw;
    }
}