#analysisBarChartHolder {
    width: 100%;
    display: flex;
}

.analysisVerticalHolder {
    position: relative;
    width: 100%;
}

.analysisVerticalHolder:hover {
    background-color: grey;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px dotted black;
    filter: brightness(1.5);
}

.analysisVerticalOuterContainer {
    flex: 10 0 auto;
}

.analysisVerticalHolderBelow {
    word-wrap: break-word;
    font-size: 85%;
    width: 100%;
    text-align: center;
    /* transform: rotate(-90deg);
    border: 1px solid black;
    margin-top: 10%; */
}

.verticalHolderStat {
    box-sizing: border-box
}

.analysisVerticalHolderStat {
    color: white;
    font-size: 95%;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
}

.analysisVerticalHolderStatTop{
    position: absolute;
    text-align: center;
    width: 95%;
    font-size: 100%;
    margin-bottom: 0;
}

#analysisSelectionDiv label {
    font-size: 110%;
}

.analysisVariable {
    font-size: 110%;
}

#analysisInfoMainStatistic {
    font-size: 225%;
    margin: 0 0 1% 0
}

#analysisInfoMainStatisticUnit {
    font-size: 100%;
    opacity: 0.8;
    margin: 0;
}

#analysisInfoFlex {
    display: flex;
    margin-bottom: 4%;
}

#analysisInfoFlexLeft {
    padding: 1% 0 1.25% 2.5%;
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
}

#analysisInfoMainStatistic b {
    font-size: 110%;
    opacity: 1.0;
}

#analysisInfoFlexRight {
    width: 50%;
}

#analysisInfoSpectrum {
    height: 4vh;
    border: 1px solid black;
    background-color: orange;
    width: 100%;
    position: relative;
}

#analysisInfoExtremes {
    justify-content: center;
    display: flex;
    width: 100%;
}

.analysisExtremeValue {
    font-size: 85%;
    margin-top: 2.5%;
    opacity: 0.85;
}

#analysisExtremeLow {
    text-align: left;
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#analysisExtremeHigh {
    text-align: right;
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#analysisInfoRanking {
    font-size: 95%;
    opacity: 0.85;
}

#analysisInfoSpectrumBar {
    width: 2%;
    height: 4vh;
    border-radius: 100px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    transition: 0.4s;
}

#summaryAnalysisTable {
    width: 100%;
    border-color: black;
    border-collapse: collapse;
}

#summaryAnalysisTable th, #summaryAnalysisTable td {
    border: 1px solid lightgray;
    width: 14.2857%;
    vertical-align: baseline;
}

#summaryAnalysisTableHeader {
    font-weight: bold;
    font-size: 125%;
    padding: 1% 0 1% 0
}

#summaryAnalysisTable th {
    font-weight: normal;
    font-size: 120%;
}

.weeklyChartCellDisplay {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    width: 75%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0 0 3% 0;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
}

.weeklyChartCell {
    padding-bottom: 1%;
}

.weeklyChartActivityStat {
    font-size: 90%;
    padding: 0;
    margin: 1% 0 5% 0
}

.weeklyChartActivityName {
    font-size: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0;
    margin: 0 0 2% 0;
    font-weight: normal;
}

.weeklyChartActivityInfoHolder {
    margin: 4% 2.5% 4% 2.5%;
    padding: 0.5% 0 0.5% 3%;
    box-sizing: border-box;
    transition: 0.3s;
}

.weeklyChartActivityInfoHolder:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: lightgray;
}

.chartWeekDayDisplay {
    font-size: 125%;
    font-weight: bold;
    margin: 0% 0 2% 1%;
    padding: 0;
    width: 100%;
}

.chartWeekDayDisplay b {
    width: 25%;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: normal;
    font-size: 100%;
}

@media only screen and (orientation: portrait) {
    .analysisVerticalOuterContainer {
        width: 12.5%;
    }

    .analysisVariable {
        font-size: 4vw;
    }

    #analysisSelectionDiv label {
        font-size: 4vw;
    }

    .analysisVerticalHolderBelow {
        font-size: 2.65vw;
    }

    .analysisVerticalHolderStat, .analysisVerticalHolderStatTop {
        font-size: 3.15vw;
    }
}