#summaryDiv {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#summaryDivWelcomeMsg {
    text-align: center;
    font-size: 250%;
}
.indivSummaryDiv {
    width: 50%;
    position: relative;
    height: 40vh;
    display: inline-block;
    box-sizing: border-box;
}

.indivSummaryDivInfo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60%;
    /* border: 1px solid black; */
    z-index: 997;
}

.indivSummaryDivGraphHolder {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 60%;
    z-index: 998;
    height: 70%;
}

.summaryTotalText {
    font-size: 350%;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.summarySubText {
    font-size: 150%;
    margin-top: 2%;
    margin-bottom: 0;
}

#summaryDayInput{
    font-size: 125%;
    text-align: right;
}

#numberOfDaysInput {
    font-size: 100%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-family: 'Wix Madefor Display', sans-serif; 
    width: 7%;
    font-weight: bold;
}

.summaryDiffText {
    width: 50%;
}

.lagOptionText {
    font-size: 100%;
}

.lagOption {
    border: 0px;
    width: 5%;
    height: 1.15em;
}

#lagDiv {
    width: 60%;
    display: none;
    margin-top: 0;
    margin-bottom: 3%;
}

#lagBtn {
    width: 30%;
    text-align: center;
    margin-bottom: 3%;
    font-size: 150%;
}

#graphDetailText {
    font-size: 150%;
    margin-top: 0;
    text-decoration: underline;
}

.ymwDivHolder {
    width: 33%;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5% 2% 0.5% 2%;
}

.quickStatisticHighlight b {
    display: inline-block;
    margin-left: 5%;
    color: green;
    width: 35%;
    text-align: right;
}

.quickStatisticHighlight span {
    display: inline-block;
    width: 60%;
}

.quickStatisticHighlight {
    font-size: 120%;
}

.quickStatisticComparison {
    width: 100%;
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 1%;
    text-align: right;
}


@media only screen and (orientation: portrait){
    .indivSummaryDiv {
        width: 100%;
        height: 25vh;
        border: none;
        border-bottom: 1px dotted black;
    }

    .summaryTotalText {
        font-size: 9vw;
    }

    .summarySubText{
        font-size: 3.5vw;
    }

    .indivSummaryDivGraphHolder {
        position: absolute;
        bottom: 2%;
        right: 2%;
        width: 60%;
        z-index: 998;
        height: 70%;
    }
    
    .indivSummaryDivInfo{
        left: 0;
    }

    .summaryDiffText {
        font-size: 3vw;
    }
    
    .ymwDivHolder {
        width: 100%;
    }
}