#mainTrendDivHolder {
    display: flex;
    width: 100%;
}

.trendDiv {
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
}

.trendsCumVariable {
    font-size: 110%;
    margin-right: 3%;
}

.trendsCumVariable option {
    font-size: 100%;
}

#trendsDiv label {
    font-size: 110%;
    margin-right: 0.5%;
    font-weight: bold;
}