#mainTrendDivHolder {
    width: 100%;
}

.trendDiv {
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
}

.trendsCumVariable {
    font-size: 120%;
    margin-right: 0;
    border: 3px solid purple;
}

.trendsCumVariable option {
    font-size: 100%;
    background-color: #82caff;
}

#trendsDiv label {
    font-size: 110%;
    margin-right: 0.5%;
    font-weight: bold;
}

#trendLineOptionLabel, .indivTrendLineOption {
    font-size: 120%;
}

#trendLineOptionLabel {
    margin-right: 1.5%;
    margin-top: auto;
    margin-bottom: auto;
}

.indivTrendLineOption {
    padding: 0.75% 2% 0.75% 2%;
    margin: 0;
    width: auto;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
}

#trendLineOptionFlex {
    display: flex;
    justify-content: left;
    width: 100%;
}

#trendInfoMenu {
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    padding-left: 2%;
    box-sizing: border-box;
}

.indivTrendLineOption:hover {
    cursor: pointer;
    color: white;
    background-color: purple;
}

#yearly {
    color: white;
    background-color: purple;
}

/* bar race stuff starts here ====================== */

.trendsRaceText{
    width: 20%;
    text-align: right;
    padding-right: 3%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 110%;
}

.trendsRaceBarHolder {
    width: 80%;
    box-sizing: border-box;
    display: flex;
}

.trendsRaceGraphBar {
    text-align: right;
    color: white;
    padding: 1% 3% 1% 0;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 110%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.graphRow {
    display: flex;
}

#trendInfoHighlight {
    font-size: 400%;
    margin-top: 3%;
    margin-bottom: 1%;
}

#trendInfoHighlight span{
    font-size: 40%;
    font-weight: lighter;
    margin-left: 1%;
}

#trendInfoUnitDisplay {
    font-size: 135%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-weight: bold;
}

#trendInfoComparison {
    font-size: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#trendInfo {
    width: 45%;
    box-sizing: border-box;
    border-right: 3px dotted purple;
}

#trendsGraphSecondRowFlex {
    display: flex;
    width: 100%;
    margin-top: 1%;
}

#trendsNumDaysInput {
    width: 10%;
}

@media only screen and (orientation: portrait) {
    #trendsGraphSecondRowFlex {
        flex-direction: column;
    }

    #trendInfo, #trendInfoMenu {
        width: 100%;
    }

    #trendInfo {
        padding: 0% 0 6% 0;
        border-right: none;
        border-bottom: 2px dotted purple;
        margin-bottom: 6%;
    }

    #trendInfoUnitDisplay {
        font-size: 5vw;
    }

    #trendInfoHighlight {
        font-size: 12vw;
    }

    #trendInfoComparison {
        font-size: 3.75vw;
    }

    #trendsDiv label {
        font-size: 4vw;
    }

    .trendsCumVariable {
        font-size: 4vw;
    }

    #trendInfoMenu {
        padding: 0;
    }

    #trendLineOptionLabel, .indivTrendLineOption {
        font-size: 3.75vw;
    }
}