body{
    font-family: 'Inter', sans-serif;
    
}

.graph{
    /*border: 1px solid black;*/
    width: 70%;
    margin-left:15%;
    margin-right: 0%;
    display: flex;
    margin-top: 3%;
}

.infoWrapper{
    display: none;
}


.verticalHolderBelow{
    /*border-top: 2px solid purple;*/
    text-align: center;
    font-size: 70%;
    margin-top: 0;
    padding-top: 10%;
    border-top: 3px solid black;
    -webkit-user-select: none;
}

.verticalHolder{
    position: relative;
}

.verticalHolderStat{
    border: 1px solid white;
    color: white;
    font-size: 110%;
    text-align: center;
    margin-bottom: 0;
    -webkit-user-select: none;
    position: absolute;
    box-sizing: border-box
    
}

.graphHeader{
    font-size: 250%;
    text-align: center;
    margin-bottom: 0%;
}

.infoWrapper{
    width: 70%;
    margin-left: 15%;
}

.infoWrapperLeft{
    width: 100%;
}


.infoWrapperRight{
    width: 100%;
}

.info{
    font-size: 110%;
    margin-bottom: 10%;
    
}

.verticalHolder:hover{
    filter: brightness(1.5);
   
    cursor: pointer;
    border: 2px dotted black;
    background-color: gray;
}

.verticalHolderStatTop{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    font-size: 110%;
}

.overview{
    font-size: 110%;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.counterDisplay{
    font-size: 150%;
    padding-left: 2%;
}
.indivGrid{
    display: inline-block;
    text-align: center;
}

.outerDiv{
    padding: 2%;
    border: 1px solid gray;
}

@media only screen and (orientation: portrait){
    body{
        overflow-x: hidden
    }
    .graph{
        width: 100%;
        margin-left: 0;
    }

    .graphHeader{
        font-size: 200%;
    }

    .overview{
        width: 100%;
        margin-left: 0;
        font-size: 100%;
    }

    .info{
        width: 100%;
        margin-left: 0;
        font-size: 95%;
    }
}