body{
    font-family: 'Inter', sans-serif;
}

.graph{
    /*border: 1px solid black;*/
    width: 70%;
    margin-left:15%;
    margin-right: 0%;
    display: flex;
    margin-top: 3%;
}


.verticalHolderBelow{
    /*border-top: 2px solid purple;*/
    text-align: center;
    font-size: 70%;
    margin-top: 0;
    padding-top: 10%;
    border-top: 3px solid black;
    -webkit-user-select: none;
}

.verticalHolder{
    position: relative;
}

.verticalHolderStat{
    border: 1px solid white;
    color: white;
    font-size: 110%;
    text-align: center;
    margin-bottom: 0;
    -webkit-user-select: none;
    position: absolute;
    box-sizing: border-box
    
}

.graphHeader{
    font-size: 250%;
    text-align: center;
    margin-bottom: 0%;
}

.info{
    font-size: 110%;
    margin-bottom: 10%;
    text-align: center;
    width: 60%;
    margin-left: 20%;
}


.verticalHolder:hover{
    filter: brightness(1.5);
   
    cursor: pointer;
    border: 1px dotted black;
}

.verticalHolderStatTop{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    font-size: 110%;
}

.overview{
    font-size: 110%;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

@media only screen and (orientation: portrait){
    .graph{
        width: 100%;
        margin-left: 0;
    }
}