body{
    /*font-family: 'Inter', sans-serif;  */
    font-family: 'Wix Madefor Display', sans-serif; 
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.15vw;
    overflow-x: hidden;
}

#transition{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#transitionDiv{
    width: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#loadingBar{
    width: 100%;
    border: 1px solid black;
    height: 3vh;
    background: linear-gradient(to right, gold, #ff2200 25%, gold 40%);
}

#statusMsg{
    width: 80%;
    margin-left: 10%;
    font-size: 350%;
    opacity: 0.7;
    text-align: center
}

.graph{
    /*border: 1px solid black;*/
    width: 100%;
    margin-right: 0%;
    display: flex;
    margin-top: 3%;
}

.infoWrapper{
    display: none;
}


.verticalHolderBelow{
    /*border-top: 2px solid purple;*/
    text-align: center;
    font-size: 70%;
    margin-top: 0;
    padding-top: 10%;
    border-top: 3px solid black;
    -webkit-user-select: none;
}

.verticalHolder{
    position: relative;
}

.verticalHolderStat{
    border: 1px solid white;
    color: white;
    font-size: 110%;
    text-align: center;
    margin-bottom: 0;
    -webkit-user-select: none;
    position: absolute;
    box-sizing: border-box
    
}

.graphHeader{
    font-size: 225%;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 3%;
    text-decoration: underline;
}

.infoWrapper{
    width: 100%;
    margin-left: 0%;
    margin-top: 3%;
}

.infoWrapperLeft{
    width: 35%;
}


.infoWrapperRight{
    margin-left: 5%;
    width: 60%;
    overflow-y:scroll;
    border: 3px solid black;
    overflow-x: hidden;
}

.info{
    font-size: 115%;
    margin-bottom: 10%;
    
}

.verticalHolder:hover{
    filter: brightness(1.5);
   
    cursor: pointer;
    border: 2px dotted black;
    background-color: gray;
}

.verticalHolderStatTop{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    font-size: 110%;
}

.overview{
    font-size: 110%;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'Raleway', sans-serif
}

.counterDisplay{
    font-size: 150%;
    padding-left: 5%;
    margin-top: 0;
}
.indivGrid{
    display: inline-block;
    text-align: center;
    font-size: 90%;
    /*border: 2px solid pink;*/
    box-sizing: border-box;
}

.headerDiv{
    padding: 1%;
    width: 98%;
    border: 1px solid gray;
    border-bottom: 2px solid black;
    position:  sticky;
    top: 0;
    background-color: white;
    font-weight: bold;
}

.outerDiv{
    padding: 1%;
    border: 1px solid gray;
}


#displayNumRuns{
    font-size: 125%;
    margin-left: 10%;
    opacity: 0.8;
}

#flexDateHolder{
    display: flex;
    width: 50%;
    margin-left: 10%;
}

.labels, .labelsBox{
    width: 50%;
    font-size: 100%;
    font-family: "Raleway", sans-serif
}

.innerLabel{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.labels{
    margin-top: auto;
    margin-bottom: auto;
}

#applyDateBtn{
    width: 15%;
    font-size: 115%;
    font-family: "inter", sans-serif;
    padding: 1%;
    display: block;
    margin: auto 0 auto 5%;

}

#applyDateBtn:hover{
    cursor: pointer;
}

#title{
    margin: 1% 0 1% 10%;
}

#settings{
    display: none;
    position: fixed;

    border: 2px solid black;
    width: 50%;
    background-color: white;
    height:  55vh;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;

}

.graphDiv{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.incrementBtn{
    font-size: 110%;
    position: absolute;
    width: 15%;
    transform: translate(-100%, 0%);
    left: 100%;
    top: 0;
    text-align: center;
    
}

#settingsTitle{
    font-size: 200%;
    margin-top: 1%;
    font-weight: bold;
}

#settingsDiv{
    margin: 2%;
    position: relative;
}

.settingsButtons{
    font-size: 125%;
    display: inline-block;
    padding: 1% 3% 1% 3%;
    margin: 0 0 0 2%;
}

.settingsLabelsBox{
    width: 10%;
    font-size: 110%;

    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.settingsLabels{
    font-size: 110%;
}

#colorPicker, #colorPicker2, .scatterColorPickers{
    background-color: white;
}

#scatterPlot{
    width: 80%;
    margin-left: 10%;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    position: relative;
    height: 80vh;
    margin-top: 5%;
    padding: 0;
    box-sizing: border-box;
}


.plot{
    height: 15px;
    width: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: 0;
    transition: 0.75;
}

.plot:hover{
    background-color: orange;
    transition: 0.75;
    cursor: pointer;
}

.scatterGrid{
    position: absolute;
    border: 1px dotted black;
}

.yScatterDisplay{
    position: absolute;
    transform: translate(0%, -100%);
    font-size:100%;
    top: 0%;
    right: 110%;
}

.xScatterDisplay{
    position: absolute;
    transform: translate(0%, 0%);
    right: 0%;
    top: 100%;
    font-size: 100%;
    margin-top: 2.5%;
    
}

#scatterVariable1, #scatterVariable2, #scatterVariable3{
    font-size: 90%;
    outline: none;
}

.scatterBoundInput{
    font-size: 120%;
    width: 20%;
    outline: none;
    border-radius: 5px;
    margin-right: 2%;
    margin-left: 0.5%;
}

#scatterSettingsHolder{
    margin-left: 10%;
    display: flex;
}

#scatterSettingsHolderMain{
    width: 45%;
    margin-left: 0;
    border-right: 2px dotted black;
}

#addTertiaryVariable{
    margin-left: 2%;
    width: 45%;
}

#spectrum{
    border: 1px solid black;
    height: 5vh;
    width: 80%;
    position: relative;
    padding: 0;
    
}

#spectrumUpperBound, #spectrumLowerBound {
    color: white;
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 125%;
    transform: translateY(-50%);
    top: 50%;
}

#spectrumLowerBound {
    left: 1%;
}

#spectrumUpperBound{
    right: 1%;
}

#welcomeMsg{
    width: 102%;
    margin-left: -1%;
    color: white;
    font-size: 175%;
    background-color: orange;
    margin-top: -0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    display: flex;
    display: none;
    font-family: 'Raleway', sans-serif;
}

#welcomeText{
    width: 70%;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#logoutBtn {
    width: 10%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 85%;
    border: 2px solid white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    transition: 0.5s;
}

#logoutBtn:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
    transition: 0.5s;
}

#footer{
    text-align: center;
    background-color: grey;
    width: 102%;
    margin-left: -1%;
    font-size: 150%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: -1%;
    margin-top: -0.25%;
}

#predictionDiv{
    position: absolute;
    border: 2px solid orange;
    background-color: white;
    z-index: 999;
}

@media only screen and (orientation: portrait){
    body{
        overflow-x: hidden;
        font-size: 100%;
    }

    .graphDiv{
        width: 100%;
        margin-left: 0;
    }
    .graph{
        width: 100%;
        margin-left: 0;
    }

    .graphHeader{
        font-size: 175%;
        margin-top: 10%;
    }

    .overview{
        width: 100%;
        margin-left: 0;
        font-size: 100%;
    }

    .info{
        width: 100%;
        margin-left: 0;
        font-size: 90%;
        margin-bottom: 5%;
    }

    .infoWrapper{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .infoWrapperLeft{
        margin-left: 2.5%;
        width: 95%;
        margin-bottom: 1%;
    }

    .counterDisplay{
        padding-left: 2.5%;
        font-size: 125%;
    }

    .infoWrapperRight{
        margin-left: 0;
        width: 100%;
        font-size:70%;
 
    }

    .counterDisplay{
        font-size: 125%;
    }

    #title, #flexDateHolder{
        margin-left: 0;
    }

    #title{
        font-size: 200%;

        margin: 3% 0 3% 0
    }

    #flexDateHolder{
        width: 100%;
    }

    .labels{
        width: 55%;
    }

    .labelsBox{
        width: 45%;
    }

    #applyDateBtn{
        font-size: 100%;
        margin: 1% 0 1% 3%;
    }

    #displayNumRuns{
        font-size: 100%;
        margin-left: 0;
    }

    #settings{
        width: 90%;

    }

    .settingsLabels, .settingsLabelsBox{
        font-size: 80%;
        opacity: 0.8;
    }

    #settingsTitle{
        font-size: 150%;
    }

    .settingsButtons{
        font-size: 80%;
    }

    #scatterPlot{
        width: 90%;
        margin-left: 10%;
    }

    .plot{
        width: 2vw;
        height: 2vw;
    }

    .yScatterDisplay, .xScatterDisplay{
        font-size: 3vw;
    }

    #footer{
        margin-left: -2%;
        width: 104%;
        margin-bottom: -2%;
    }

    #scatterSettingsHolder{
        flex-direction: column;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }

    #scatterSettingsHolderMain{
        width: 100%;
        border: none;
    }

    #addTertiaryVariable{
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }

    .scatterInputLabels{
        font-size: 4.5vw;
    }

    .subScatterInputLabels{
        font-size: 3.5vw;
    }

    .scatterBoundInput{
        font-size: 3.5vw;
    }
}